doctype html
html
  head
    title Shift Saver
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login.css')

  body
    script(src="https://unpkg.com/react@16/umd/react.development.js" crossorigin)
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin)
    block content
