body {
    margin: 0;
    font-family: 'Work Sans' , sans-serif;
    font-weight: 300;
    background: #474f64;
  }
  
  .container{
    width: 90%;
    margin: 0 auto;
  }
  
  header{
    background-color: #C0C0C0;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: solid;
  }
  
  header::after{
    content: '';
    display: table;
    clear: both;
  }
  
  .logo{
    float: left;
    padding: 10px 0;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-left: 100px;
  }
  
  nav{
    float: right;
    padding: 0;
    padding-right: 100px;
  }
  
  nav ul{
    margin: 0;
    padding: 10px 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 23px;
    position: relative;
  }
  
  /* Editing the links*/
  nav button{
	cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #9C27B0, #E040FB);
      border: 0;
      cursor: pointer;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-family: 'Ubuntu', sans-serif;
      margin-left: 35%;
      font-size: 13px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  
  nav button:hover{
    background-color: white;
  }
  
  nav button:active{
    position:relative;
	top:1px;
  }

  .display{
    background-color: white;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    overflow: hidden;
    padding-bottom: 10%;
  }

  .displayItem{
      padding: 20px;
  }

  #log_out{
    background: linear-gradient(to right, rgb(176, 176, 39), rgb(251, 214, 64));
    color: purple;
  }
  