extends layout

block content
  h1 Shift Saver
  p Remember, we just need a C

  div(id="login_container")
    p Should be a login button here:
    script(src="/javascripts/login.js")
  div(id="calendar_div")
    p Calendar:
    script(src="/javascripts/main.js" type="module")
