.upcomingShiftsDiv {
    position: relative;
    float: right;
    display: table;
    margin-left: auto;
    background-color: white;
    height: 100%;
    width: 200px;
}

.calendarDiv {
    display: inline-block;
}